.colors{
    color:#16BFFD;
    color:#8ee6de;
    color:#7bc19ebf;
    color:#0b97c4;
    color:#C5E3ED;
    color:#2b2b2b;
    color:#394350;
    color:#f6f6f6;/*<!--for the background color of the buttons in checkboxradio--->*/
    color:#00b0ff;/* post button color*/
    color:#efefef; /*for the post cancel button*/
    color:#72a0ee;/*color for the background of google support forum image(default placeholder image)*/
    color:#c7d9f9;/* the shape of the human itself*/
    color:#4285f4; /* google support forum best Answer head background*/
    color:#f3ffff; /*best answer color*/
    color:#85a1b1; /* to replace the red like color of peepso on the general view of the site */
    color:#ff8d35;
    color:#c61140;
} B